@import './tokens.css';
@import './reset.css';

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-size: var(--font-size-base);
  line-height: var(--line-height-normal);
}
